@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

:root {
  --grey: #858694;
  --dark: #3a3a47;
  --orange: #f5913e;
  --primary: #d0d0d0;
  --light: #e0e0e0;
  --red: #ff4500;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Balsamiq Sans', cursive, sans-serif;
  font-weight: 500;
}

.calc-app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 500px;
  margin-top: 3rem;
  height: 24rem;
}

.calc-result {
  grid-column: span 4;
  font-size: 20px;
  text-align: right;
  color: #fff;
  background-color: var(--grey);
  padding: 1rem;
  border: none;
}

button {
  background-color: var(--light);
  color: var(--dark);
  padding: 1rem;
  border: solid var(--primary) 1px;
  cursor: pointer;
  font-size: 1rem;
}

.operator {
  background-color: var(--orange);
}

button:hover {
  opacity: 0.9;
}

.zero {
  grid-column: span 2;
}

/* Header with NavBar  */

.navbar {
  box-shadow: 0 0 6px rgb(0 0 0 / 20%);
  padding: 0.8rem;
}

h2 {
  color: var(--dark);
  font-size: 1.8rem;
  font-weight: 700;
}

.menu_box li {
  padding-left: 1rem;
}

.menu_btn {
  position: fixed;
  background: none;
  border: none;
  padding: 0;
  top: 16px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2.5px;
  background-color: var(--dark);
  transition-duration: 0.25s;
  border-radius: 2px;
}

.menu_btn > span::before {
  content: '';
  top: -8px;
}

.menu_btn > span::after {
  content: '';
  top: 8px;
}

.menu_btn_active > span {
  transform: rotate(45deg);
}

.menu_btn_active > span::before {
  top: 0;
  transform: rotate(0deg);
}

.menu_btn_active > span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu_box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu_box_open {
  right: 0 !important;
}

.menu_item {
  display: block;
  font-weight: 600;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--dark);
  padding: 10px 24px;
}

.active {
  color: var(--red);
}

/* Main Container */

main {
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  color: var(--red);
  margin: 2rem 0;
}

.home p {
  padding-bottom: 2rem;
}

.quotes {
  margin-top: 2rem;
}

.quote {
  font-style: italic;
  font-size: 1rem;
}


/* Media Queries for Screens > 768px */

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
  }

  .menu_btn {
    display: none;
  }

  .menu_box {
    display: flex;
    width: initial;
    position: initial;
    padding: 0;
    background: none;
    box-shadow: none;
    gap: 1rem;
  }

  .menu_box li {
    border-left: 1px solid var(--dark);
  }

  .menu_box > :first-child {
    border: none;
    padding: 0;
  }

  .menu_item {
    font-size: 1.2rem;
    position: relative;
    padding: 0;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .home p {
    font-size: 1.2rem;
    padding: 0 1rem 2rem;
  }

  .calc-app {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 550px;
    margin-top: 3rem;
    height: 24rem;
    align-self: flex-end;
    width: 100%;
    padding: 0 5rem;
  }

  .quote {
    font-size: 1.2rem;
    padding: 2rem;
  }
}
